body{
    background-color: black;
    color: white;
}

#guess{
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    min-width: 120px;
}

#quantity{
    padding: 5px;
}